<!--[if lt IE 9]>
<div style="border: 1px solid #F7941D; background: #FEEFDA; text-align: center; clear: both; height: 75px; position: relative; overflow: hidden;">
	<div style="width: 735px; margin: 0 auto; text-align: left; padding: 0; overflow: hidden; color: black;">
		<div style="width: 53px; height: 73px; float: left; padding-right: 22px;">
			<img src="{BROWSEHAPPY_IMAGEPATH}/browsehappy-warning.jpg" width="53" height="73" alt="{L_BROWSEHAPPY_WARNING}" />
		</div>
		<div style="width: 300px; float: left; font-family: Arial, sans-serif;">
			<div style="font-size: 14px; font-weight: bold; margin-top: 10px;">{L_BROWSEHAPPY_TITLE}</div>
			<div style="font-size: 12px; margin-top: 5px; line-height: 14px;">{L_BROWSEHAPPY_MESSAGE}</div>
		</div>
		<div style="width: 353px; height: 73px; float: left; border: 0">
			<a href="http://browsehappy.com/" title="{L_BROWSEHAPPY_UPGRADE}">
				<img src="{BROWSEHAPPY_IMAGEPATH}/browsehappy-browsers.jpg" width="353" height="73" alt="{L_BROWSEHAPPY_UPGRADE}" />
			</a>
		</div>
	</div>
</div>
<![endif]-->
