<!--[if lt IE 7]>
<div style="border: 1px solid #F7941D; background: #FEEFDA; text-align: center; clear: both; height: 75px; position: relative;">
	<div style="width: 785px; margin: 0 auto; text-align: left; padding: 0; overflow: hidden; color: black;">
		<div style="width: 75px; float: left;"><img src="{U_IMAGEPATH}/images/ie6nomore-warning.jpg" width="53" height="73" alt="{L_IE6NOMORE_WARNING}" /></div>
		<div style="width: 350px; float: left; font-family: Arial, sans-serif;">
			<div style="font-size: 14px; font-weight: bold; margin-top: 10px;">{L_IE6NOMORE_TITLE}</div>
			<div style="font-size: 12px; margin-top: 5px; line-height: 14px;">{L_IE6NOMORE_MESSAGE1} <a href="http://www.google.com/chromeframe/?redirect=true">{L_IE6NOMORE_MESSAGE2}</a>.</div>
		</div>
		<div style="width: 353px; float: left;"><a href="http://browsehappy.com/"><img src="{U_IMAGEPATH}/images/ie6nomore-browsers.jpg" style="border: none;" width="353" height="73" alt="{L_IE6NOMORE_MESSAGE3}" title="{L_IE6NOMORE_MESSAGE3}" /></a></div>
	</div>
</div>
<![endif]-->
